body{
  background-color: rgb(177, 184, 187);
}
.first{
  /* border:2px solid red; */
  display: flex; 
  justify-content: space-evenly; 
  width: 40%;
}  
.second{
  border:2px solid  rgb(177, 184, 187); 
  display: flex; 
  justify-content: space-between;  
  width: 40%;
}  
.header{
  border:2px solid  rgb(177, 184, 187); 
  display: flex; 
  justify-content: space-between;
} 
.header button{
  padding:0px 30px;
    width: 250px;
    height: 40px;
  margin:15px;
  /* border:2px solid blue; */
  background-color: blue;
  color:white;
  border-radius: 30px;
}

#logo{
  height: 30px;
  width: 100px;
  
}
 
.filter-btn-box button{
  padding: 10px;
  color:blue;
  /* border:2px solid blue; */
  border-radius: 10px;
}
.filter-btn-box button:hover{
  background-color: rgb(134, 134, 230);
  color:white
}

.img_grid{
  /* border:2px solid red; */
  margin:10px;
} 
.img_grid img{
  height: 200px;
  width:300px;
}
.blue{
  color: blue;
} 
.first_block{
  /* border:2px solid blue; */
  display: flex;
  justify-content: center;
}
.header-p{
  z-index:-1;
}

span{
  font-size: 30px;
} 
.cat{
  font-size: 20px;
}